p{
	margin: 0;
	padding: 0;
}

h2{
  font-size: 64px;
}
a{
  cursor: pointer;
}
h3{
  font-size: 48px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.77;
  letter-spacing: -0.7px;
  text-align: center;
  font-family: 'MavenPro-Black';
  color: #2a3271;
  margin: 0 0 50px;
}

/*шапка header*/

header {
  padding: 20px 15px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1334px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  z-index: 1000;
  opacity: 0.95;
}

.logo_header {
  display: flex;
  align-items: center;
}
.logo_header img {
  margin-right: 15px;
}
.logo_header p{
  width: 73px;
  height: 18px;
  font-family: 'MavenPro-Bold';
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #2a3271;
  margin-bottom: 4px;
}

.nav_header ul {
  display: flex;
  justify-content: flex-end;
}
.nav_header ul li a{
  font-family: 'MavenPro-Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: right;
  color: #343b5c;
}
.nav_header ul li {
  padding: 0 14px;
  list-style-type: none;
}
.header_btn {
  display: flex;
  justify-content: flex-end;
}
select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearancce: none;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 31px;
  background-origin: padding-box;
  background-image: url(../img/ic-country@3x.png);
  padding: 6px 5px 5px 35px;
  border: none;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #343b5c;
}

.header_btn .btn{
  height: 40px;
  font-family: 'MavenPro-Bold';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #56c0fd;
  padding: 10px 32px;
  border: 1px solid #56c0fd;
  margin: 0px 0px 0 16px;
  border-radius: 33px;
  transition: .6s;
}

.header_btn .btn:hover{
  color: #ffffff;
  background-color: #56c0fd;
}
.nav_btn{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
}
.d_none_li{
  display: none;
}



/*конец шапка header end*/


/*банер_1*/

.baner{
  margin-top: 155px;
  margin-bottom: 400px;
  max-width: 1440px;

}
.baner_1.bgr {
  background-image: url(../img/Group1.svg);
  height: 100%;
  width: 100%;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 60px;
}
.baner .h1 h1{
	font-size: 100px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.85;
  letter-spacing: -3px;
  color: #2a3271;
  font-family: 'MavenPro-Black';
} 
.s1{
  color: #56c0fd; 
}
.baner p{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 0.6px;
  color: #878ea7;
  font-family: 'MavenPro-Regular';
  margin: 30px 0px 15px;
}

.baner form {
  margin: 50px 0 150px;
  display: flex;
  align-items: center;
}
.baner form p {
  margin: 0px 0 3px;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #56c0fd;
  font-family: 'MavenPro-Medium';
}
.baner form .in1{
  width: 132px;
  height: 70px;
  border-radius: 12px;
  background-color: #ffffff;
  margin-right: 8px;
  border: solid 2px #ececec;
  padding: 12px 16px
}
.baner form .in2{
  width: 300px;
  height: 70px;
  border-radius: 12px;
  background-color: #ffffff;
  margin-right: 8px;
  border: solid 2px #ececec;
  padding: 12px 16px
}
.baner form input{
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #2a3271;
  width: 100%;
  font-family: 'MavenPro-Regular';
  border: none;
}
.baner form .in_ok{
  width: 98px;
  height: 70px;
  border-radius: 78px;
  background-color: #8de37f;
  box-shadow: 0 20px 42px -8px rgba(141, 227, 127, 0.82);
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: center;
  color: #ffffff;
  font-family: 'MavenPro-Bold';
  padding: 22px 0;
  margin: 0;
  transition: .5s;
}
.b-btn-a a{
  transition: .5s;
}
.b-btn-a a:hover,
.baner form .in_ok:hover{
 box-shadow: none;

}
.baner_1 a {
  margin-right: 10px;
}
.baner_1 a img{
  transition: .5s;
}
.baner_1 a img:hover {
  opacity: .5;
}
.b-btn-a a:hover,
.baner_1 form a:hover{
  text-decoration: none;
}
/*банер_1 конец*/

/*банер_2*/


.baner_2.bgr {
  background-image: url(../img/Group2.png);
  height: 100%;
  width: 100%;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}
.baner  h2{
  font-size: 64px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #2a3271;
  font-family: 'MavenPro-Black';
  margin: 0;
}
.b-btn-a a{
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: center;
  color: #ffffff;
  border-radius: 78px;
  background-color: #8de37f;
  box-shadow: 0 20px 42px -8px rgba(141, 227, 127, 0.82);
  padding: 21px 32px;
  font-family: 'MavenPro-Bold';
}
.b-btn-a {
  margin: 65px 0;
}
.baner .top_a{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.3px;
  text-align: center;
  color: #56c0fd;
  text-transform: uppercase;
  font-family: 'MavenPro-Regular';
}
/*банер_2 конец*/


/*банер_3*/

.baner_3.bgr {
  background-image: url(../img/group.svg);
  height: 100%;
  width: 100%;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: -25px;
  background-position-y: 60%;
}


/*банер_3 конец*/


/*банер_4*/


.baner_4.bgr {
  background-image: url(../img/Illustration.png);
  height: 100%;
  width: 100%;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: bottom;
}
.baner_4-md.bgr {
  background-image: url(../img/Illustration.png);
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  margin-top: 80px;
}
.baner_4_mb{
  display: none;
}
.text.text-left{
  width: 625px;
}
.text.text-left p{
  width: 412px;
}
/*банер_4 конец*/


/*галерея*/
.gallery {
  margin: 240px 0 200px;
}

.tex_top {
  display: flex;
  justify-content: space-between;
}

.gallery_blok {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 31px 30px;
  border-radius: 12px;
  background-color: rgba(66, 33, 9, 0.3);
  margin-bottom: 30px;
  background-size: cover;
  transition: .5s;
}
.gallery_blok:hover{
  box-shadow: 0 20px 33px -8px rgba(0, 0, 0, 0.82);
}

.gallery h3,
.gallery .btn_a{
  text-align: center;
}
.gallery_blok_1{
  background-image: url(../img/Rectangle1.png);
}
.gallery_blok_2{
  background-image: url(../img/Rectangle2.png);
}
.gallery_blok_3{
  background-image: url(../img/Rectangle3.png);
}
.gallery_blok_4{
  background-image: url(../img/Rectangle4.png);
}
.gallery_blok_5{
  background-image: url(../img/Rectangle5.png);
}
.gll-b-btn-a {
  text-align: center;
}
.tex_top p{
 font-family: 'MavenPro-Medium';
 font-size: 30px;
 font-weight: 900;
 font-style: normal;
 font-stretch: normal;
 line-height: 0.8;
 letter-spacing: -1px;
 color: #ffffff;
 text-align: center;
}
.tex_top p span{
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  font-family: 'MavenPro-Regular';
}
.tex_top a{
  font-family: 'MavenPro-Regular';
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  border-radius: 24px;
  border: solid 1.3px #56c0fd;
  height: 30px;
  padding: 5px 17px;
}
.text_botton p{
  font-size: 27px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'MavenPro-Regular';
}
.text_botton p span{
  font-size: 16px;
  font-weight: normal;
  font-family: 'MavenPro-Regular';
}
/*галерея конец*/


/*ценообразование*/

.pricing_cont {
  margin-bottom: 190px;
}
.column{
  padding: 28px 30px 27px;
}

.column .align-center{
  text-align: center;
}
.pricing_cont h3{
  text-align: center;
}

.pricing_cont .column.column_top{
  background-color: transparent;
  box-shadow: none;
}

.pricing_cont .column.column_top p a{
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: center;
  color: #56c0fd;
  font-family: 'MavenPro-Bold';
}
.pricing_cont .column {
  height: auto;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 30px -8px rgba(190, 193, 197, 0.84);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80px;
}
.pricing_cont .column p{
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: -0.4px;
  color: #2f5e9b;
  font-family: 'MavenPro-Medium';
}
.pricing_cont .align-center p{
  font-size: 25px;
  letter-spacing: -0.5px;
  color: #2a3271;
}
/*ценообразование конец*/

/*банер / baner_5*/

.baner_5.bgr {
  background-image: url(../img/Group3.svg);
  height: 100%;
  width: 100%;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 100%;
}
.baner.bnr-ml-0{
  margin-left: auto;
  margin-bottom: 0;
}
.baner_5 h3{
  font-family: 'MavenPro-Black';
  font-size: 46px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #2a3271;
  text-align: left;
}

/* конец банер / baner_5 end */


/*footer / футер*/

footer{
  margin-top: 200px;
  background: linear-gradient(146deg, #0e1246, #283c94);
  padding: 100px 0 43px;
}
footer a{
  text-decoration: none;
}
footer .btn_a{
  text-align: center;
}
.cont_footer_1{
  margin: 82px auto 75px auto;
}
.display-f{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center
}
footer .img_a.btn_a a{
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'MavenPro-Bold';
  border-radius: 35px;
  border: solid 2px #ffffff;
  padding: 22px 37px;
}
footer .img_a.btn_a a img{
  padding-right: 30px;
}
footer .cont_footer_1 p {
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.9;
  letter-spacing: 0.4px;
  color: #ffffff;
  font-family: 'MavenPro-Regular';
  padding-left: 10px;
  padding-right: 3px;
}
footer .cont_footer_1 sup{
 font-size: 12px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 3.08;
 letter-spacing: -0.7px;
 color: #56c0fd;
 font-family: 'MavenPro-Regular';
 display: none;
}
.col {
  padding: 0;
}
.container.cont_footer_2 {
  display: none;
}
footer .cont_footer_2 p{
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'MavenPro-Bold';
}
footer .cont_footer_2 ul li{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.22;
  letter-spacing: 0.4px;
  color: #ffffff;
  font-family: 'MavenPro-Regular';
}
footer .cont_footer_2 ul{
  list-style-type: none;
  padding: 0;
}
footer .cont_footer_3{
  margin-top: 120px;
}
footer .img_footer img{
  padding-right: 19px;
  width: 200px;
  margin-bottom: 15px;
}
footer .img_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .a_ul_footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;
}
footer .a_ul_footer ul{
 list-style-type: none;
 padding: 0;
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 -ms-align-items: center;
 align-items: center;
 margin: 0;
}
footer .a_ul_footer ul li{
  color: #c5c5c5;
  font-family: 'MavenPro-Regular';
  padding: 0 2px;
}
footer .a_ul_footer ul li a{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: 0.4px;
  color: #c5c5c5;
  font-family: 'MavenPro-Regular';
  text-decoration: underline;

}
footer .a_ul_footer ul li a:hover{
  text-decoration: none;
}
footer .a_ul_footer p{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: 0.4px;
  color: #c5c5c5;
  font-family: 'MavenPro-Regular';
  /*padding-left: 25px;*/
}
footer .display-f {
  padding: 0;
  transition: .5s;
  cursor: pointer;
}
footer .display-f:hover{
  opacity: 0.5;

}

/* end footer / футер конец */






/* страница team  -  начало */


.class-m{
  margin: 130px auto -100px;
}

.cont_div{
  width: 263px;

}
.cont_div .img_bg{
  height: 360px;
  background-color: #c5c5c5;
  box-shadow: 15px 25px 42px 0 #c5c5c5;
}
.cont_div .img_bg_pop{
  width: 359px;
  height: 539px;
  box-shadow: none;
}
.pop-up{
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.pop{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(11, 14, 67, 0.95);
  padding: 80px 0;
  opacity: 0.9;
  overflow: scroll;
}


/*.cont_div:hover .pop-up{display: block;}*/



.team_section .cont_m{
  margin-bottom: 50px;
}


.team_section .cont_div{
  margin-bottom: 40px;
}
.team_section .cont_div h4{
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #2a3271;
  font-family: 'MavenPro-Bold';
  margin-top: 23px;
}
.team_section .cont_div .s2{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #56c0fd;
  font-family: 'MavenPro-Regular';
  margin-top: 6px;
}
.pop_text ul {
  padding: 0px 19px;
}
.pop_text ul li {
  padding: 10px 6px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.6px;
  color: #ffffff;
  font-family: 'MavenPro-Regular';
}
.team_section .cont_div .pop_text  h4{
  color: #fff;
}
.pop-up{
  display: none;
}
.cont_div .img_bg{
  transition: 0.5s;
}
.team .cont_div .img_bg:hover {
    box-shadow: none;
}

/* страница team  -  конец - end */



/* страница contact  -  начало */


section.contact {
  margin: 80px auto -100px;
}

.contact .cont_div {
  width: 360px;
  height: 360px;
  border-radius: 12px;
  background-image: linear-gradient(226deg, rgba(49, 229, 102, 0), #00c6fe);
  box-shadow: 0 8px 42px -8px #b9bcc3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  margin: 15px 0;
}

.contact .cont_div h4 {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #ffffff;
  font-family: 'MavenPro-Black';
}
.contact .cont_div p{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-family: 'MavenPro-Regular';
}
.contact .cont_f {
  margin-top: 120px;
}
.contact .cont_f h3{
  margin: 0;
}
.contact .cont_f p {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: -0.5px;
  text-align: center;
  color: #2a3271;
  font-family: 'MavenPro-Regular';
}

.cont_f .form_contact{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.cont_f .contact_form {
  margin: 60px 0 0;
}
.cont_f .contact_form .f_input {
  width: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 2px #ececec;
  padding: 20px 15px;
  margin: 15px 0;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #c5c5c5;
  font-family: 'MavenPro-Regular';
}
.cont_f .contact_form .f_submit {
  padding: 20px;
  border-radius: 78px;
  background-color: #8de37f;
  box-shadow: 0 20px 42px -8px rgba(141, 227, 127, 0.82);
  border: none;
  margin: 15px 0;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: center;
  color: #ffffff;
  font-family: 'MavenPro-Bold';
}

/* страница contact  -  конец end */



/* страница roadmar  -  начало */

.roadmar_section .tabs {
  border: none;
  padding: 10px 20px;
}
.carousel_cont{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.carousel-container {
  margin: 15px auto;
  overflow: inherit;
}
.carousel-container ul li{
  width: 392px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 30px -8px rgba(190, 193, 197, 0.84);
  padding: 18px 15px 21px 47px;
  margin: 0 auto;
}
.carousel-container .img-cont{
  width: 75px;
  height: 75px;
  background-color: rgba(66, 33, 9, 0.3);
}
.cont_img_car {
  padding: 16px 0 0;
}
.carousel-container ul {
  padding: 0;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  height: 205px;
  justify-content: space-between;
}
.carousel-container ul li {
  list-style-type: none;
}
.carousel-container ul li p{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.6px;
  color: #2a3271;
  font-family: 'MavenPro-Regular';
}
.class-m .gallery {
  margin: 75px 0 0px;
}
.gallerey_h3_tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.gallery h3{
  margin: 0 0 40px;
}
.text_a_c{
  text-align: center;
  margin-top: 130px;
}
.text_a_c h3{
  margin: 0;
}
.text_a_c p{
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: -0.5px;
  text-align: center;
  color: #2a3271;
  font-family: 'MavenPro-Regular';
}







#app {
  margin:20px;
}




/*tab*/


.tabs ul{
  -ms-flex-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: start;
  justify-content: flex-end;
}
.div_a a,
.tabs li {
  display: block;
}
.div_a a,
.tabs li{
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 1px #fff;
  padding: 15px 20px;
  margin: 0 20px 20px;
  box-shadow: 0 8px 42px -8px #fff;
  transition: 0.8s;
}
.div_a a{
 border: solid 1px #c5c5c5;
}
.div_a:hover a,
.tabs li:hover{
  box-shadow: 0 8px 42px -8px #b9bcc3;
  border: solid 1px #c5c5c5;
}
.div_a:hover a,
.tabs li:hover a{
  letter-spacing: -0.6px;
  color: #56c0fd !important;
}
.div_a a,
.tabs a{
  font-family: 'MavenPro-Medium';
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #c5c5c5 !important;
  transition: 0.8s;
  text-decoration: none;
}

/*slidear*/

.sidebar {
  position: fixed;
  top: 30px;
  left: 10px;
  max-width: 230px;
  font-size: 18px;
}

.menu {
  padding: 0;
  list-style: none;
}

.current-section {
  padding-top: 50px;
}

.current-section input {
  max-width: 3em;
}

.menu-item {
  margin-bottom: 20px;
}

.menu-item a {
  cursor: pointer;
}

.main {
  margin-left: 300px;
  font-size: 25px;
}

.customActive {
  color: #178ce6;
  border-left: 1px solid #178ce6;
  padding-left: 5px;
  transition: all 0.5s;
}




/*menu*/

.bg_menu {
  width: 100%;
  position: absolute;
  display: none;
}

.bg_menu nav{
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 width: 100%;
}
.bg_menu ul{
 background: #fff;
 opacity: 1;
 margin: 0 -10px 0 0;
 padding: 0 9px;
}
.bg_menu li{
  -ms-align-items: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  font-size: 1.5em;
  padding: 6px 0px;
  justify-content: left;
  list-style-type: none;
  transition: all .5s ease;
  font-size: 16px;
  font-family: 'MavenPro-Regular';
  margin: 16px 0px;
}

#app-1{
  position: absolute;
  right: 0;
  width: 100%;
}

.fade-enter-active,
.fade-leave-active{
  transition: opaciti .5s ease;
}
.fade-enter,
.fade-leave-to{
  opacity: 0;
}
.bg_menu .menu, .bg_menu .clear{
  cursor: pointer;
  font-size: 3em;
  padding-top: all .5s ease;
  color: #56c0fd;
}
.bg_menu .clear {
  cursor: pointer;
  font-size: 3em;
  padding-top: all .5s ease;
  color: #56c0fd;
  width: 106px;
  background: #fff;
  text-align: right;
}

.header_btn .bg_menu .btn_login_m,
.header_btn .bg_menu .btn_up_m{
  display: block;
  padding: 9px 35px;
  margin: 0px 28px 0 5px;
  border: 1px solid #56c0fd;
  height: 39px;
  transition: .5s;
}
.header_btn .bg_menu .btn_login_m:hover,
.header_btn .bg_menu .btn_up_m:hover{
  background-color: #56c0fd;
}
.header_btn .bg_menu .form-horizontal_m{
  display: block;
}


li.m_d-f-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.d-f-m-a{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}







