<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>OptimizedHTML 4</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<!-- Template style Start -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="css/media.css">
	<!-- Template style End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>

	<!-- Custom HTML -->

	<!-- шапка/header -->

	<header>
		<div class="row">
			<div class="col-2 align-self-center"><p>
				<div class="logo_header">
					<img src="img/logo.svg" alt="alt">
					<p>zamzam</p>
				</div>
			</div>
			<div class="col ">
				<div class="nav_btn">
					<div class="nav_header">
						<ul>
							<li><a href="#">Roadmap</a></li>
							<li><a href="#">Token</a></li>
							<li><a href="#">Media</a></li>
							<li><a href="#">Team</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Contacts</a></li>
						</ul>
					</div>
					<div class="header_btn">
						<div>
							<section class="container">
							  <form class="form-horizontal">
							    <select class="form-control">
							      <option>RUS</option>
							      <option>EN</option>
							    </select>
							  </form>
							</section>
						</div>
						<a href="#" class="btn btn_login">
							login
						</a>
						<a href="#" class="btn btn_up">
							Sing up
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!--конец  шапка/header  end-->

	<div class="baner">

		<div class="row">

		    <div class="col-5">
				
				<div class="baner_1">
					<div class="h1"><h1>The fair <span class="s1">blockchain bank</span></h1></div>
					<p>Take part in the open testing of cryptocurrency transfers by phone number and earn additional ZAM tokens</p>
					<form action="#">
						<select v-model="selected">
  							<option disabled value="">Выберите один из вариантов</option>
  							<option>А</option>
  							<option>Б</option>
  							<option>В</option>
						</select>
						<span>Выбрано: {{ selected }}</span>
						<a href="#">ok</a>
					</form>
					<a href="#"><img src="img/apple.svg" alt="alt"></a>
					<a href="#"><img src="img/android-logo.svg" alt="alt"></a>
				</div>

			</div>
			<div class="col">

				<div class="baner_1 bgr"></div>

			</div>
			
		</div>
	</div>

	<div class="baner bnr-mr-r">

		<div class="row">

		    <div class="col-5">
				
				<div class="baner_2">
					<a class="top_a" href="#">zam wallet</a>
					<h2>Cryptocurrency wallet, as it should be</h2>
					<p>Stop wasting your attention on dozens of financial applications with severely limited functionalities. The zam.wallet erases the boundaries between traditional money and cryptocurrencies while remaining more efficient than the market by 2-3 times.</p>
					<div class="b-btn-a"><a href="#">Try it now</a></div>
				</div>

			</div>
			<div class="col">

				<div class="baner_2 bgr"></div>

			</div>
			
		</div>
	</div>

	<div class="baner bnr-mr-f">

		<div class="row">

		    <div class="col">
				
				<div class="baner_3 bgr"></div>

			</div>
			<div class="col-5">

				<div class="baner_3">
					<a class="top_a" href="#">Zam Chain</a>
					<h2>Cryptocurrency wallet, as it should be</h2>
					<p>Take part in the open testing of cryptocurrency transfers by phone number and earn additional ZAM tokens</p>
					<div class="b-btn-a"><a href="#">Read More</a></div>
				</div>

			</div>
			
		</div>
	</div>

	<div class="baner bnr-mr">

		<div class="row">

		    <div class="col">
				
				<div class="baner_4 bgr">
					<div class="text text-left">
						<a class="top_a" href="#">Zam Chain</a>
						<h2>Effortless financial management for your business!</h2>
					    <p>Doing business has never been so easy, intuitive & automated. While developing the zam.merchant, we took into account the needs of thousands of businessmеn from all over the world.</p>
					    <div class="b-btn-a"><a href="#">Read More</a></div>
					</div>
				</div>

			</div>
			
		</div>
	</div>

	<div class="gallery">
		<div class="container">
			<h3>Our <span class="s1">news</span></h3>
		    <div class="row">
			    <div class="col-4">
				    <div class="gallery_blok gallery_blok_1">
				    	<div class="tex_top">
				    		<p>28<br> <span>July</span></p>
				    		<a href="#">News</a>
				    	</div>
				    	<div class="text_botton">
				    		<p>Why did we choose the Stellar blockchain? <br>
				    		<span>Bruno Salmator</span></p>
				    	</div>
				    </div>
			    </div>
			    <div class="col-4">
			    	<div class="gallery_blok gallery_blok_2">
				    	<div class="tex_top">
				    		<p>28<br><span>July</span></p>
				    		<a href="#">News</a>
				    	</div>
				    	<div class="text_botton">
				    		<p>Why did we choose the Stellar blockchain? <br>
				    		<span>Bruno Salmator</span></p>
				    	</div>
				    </div>
			    </div>
			    <div class="col-4">
			    	<div class="gallery_blok gallery_blok_3">
				    	<div class="tex_top">
				    		<p>28<br><span>July</span></p>
				    		<a href="#">News</a>
				    	</div>
				    	<div class="text_botton">
				    		<p>Why did we choose the Stellar blockchain? <br>
				    		<span>Bruno Salmator</span></p>
				    	</div>
				    </div>
			    </div>
		    </div>
		    <div class="row">
			    <div class="col-4">
				    <div class="gallery_blok gallery_blok_4">
				    	<div class="tex_top">
				    		<p>28<br><span>July</span></p>
				    		<a href="#">News</a>
				    	</div>
				    	<div class="text_botton">
				    		<p>Why did we choose the Stellar blockchain? <br>
				    		<span>Bruno Salmator</span></p>
				    	</div>
				    </div>
			    </div>
			    <div class="col-8">
			    	<div class="gallery_blok gallery_blok_5">
				    	<div class="tex_top">
				    		<p>28<br><span>July</span></p>
				    		<a href="#">News</a>
				    	</div>
				    	<div class="text_botton">
				    		<p>Why did we choose the Stellar blockchain? <br>
				    		<span>Bruno Salmator</span></p>
				    	</div>
				    </div>
			    </div>
		    </div>
		    <div class="gll-b-btn-a b-btn-a"><a href="#">See more content</a></div>
		</div>
	</div>

	<div class="pricing_cont">
		<div class="container">
			<h3>Pricing</h3>
			<div class="column column_top">
				<div class="row">
					<div class="col-4"></div>
					<div class="col-4 align-center"><p>Free</p></div>
					<div class="col-4 align-center"><p>Premium</p></div>
				</div>
			</div>
			<div class="column">
				<div class="row">
					<div class="col-4"><p>Price</div>
					<div class="col-4 align-center"><p>$ 0 / 0 zam</p></div>
					<div class="col-4 align-center"><p>$ 9 / 450 zam</p></div>
				</div>
			</div>
			<div class="column">
				<div class="row">
					<div class="col-4 align-self-center"><p>Transfers of cryptocurrency by phone number</p></div>
					<div class="col-4 align-center"><p>0%</p></div>
					<div class="col-4 align-center"><p>0%</p></div>
				</div>
			</div>
			<div class="column">
				<div class="row">
					<div class="col-4"><p>Transfers within the bank </p></div>
					<div class="col-4 align-center"><p>0%</p></div>
					<div class="col-4 align-center"><p>0%</p></div>
				</div>
			</div>
			<div class="column">
				<div class="row">
					<div class="col-4"><p>External transfer of cryptocurrency</p></div>
					<div class="col-4 align-center"><p>0.25%</p></div>
					<div class="col-4 align-center"><p>0%</p></div>
				</div>
			</div>
			<div class="column">
				<div class="row">
					<div class="col-4"><p>Purchase of cryptocurrency with Visa, MasterCard, UnionPay cards</p></div>
					<div class="col-4 align-center"><p>4%</p></div>
					<div class="col-4 align-center"><p>3.5%</p></div>
				</div>
			</div>
			<div class="column">
				<div class="row">
					<div class="col-4"><p>Immediate withdrawal of cryptocurrency </p></div>
					<div class="col-4 align-center"><p>2% + 1.15$</p></div>
					<div class="col-4 align-center"><p>1% + 1.15$</p></div>
				</div>
			</div>
			<div class="column">
				<div class="row">
					<div class="col-4"><p>Ability to bind 1 bank card for withdrawal</p></div>
					<div class="col-4 align-center"><p>1</p></div>
					<div class="col-4 align-center"><p>5</p></div>
				</div>
			</div>
			<div class="column">
				<div class="row">
					<div class="col-4"><p>Ability to bind 1 bank card for withdrawal</p></div>
					<div class="col-4 align-center"><p>1</p></div>
					<div class="col-4 align-center"><p>5</p></div>
				</div>
			</div>
			<div class="column">
				<div class="row">
					<div class="col-4"><p>Free SMS notifications of transactions per month</p></div>
					<div class="col-4 align-center"><p>25</p></div>
					<div class="col-4 align-center"><p>Unlimited</p></div>
				</div>
			</div>
			<div class="column">
				<div class="row">
					<div class="col-4"><p>Limit per month for withdrawal to the card</p></div>
					<div class="col-4 align-center"><p>400 $ / 400 $</p></div>
					<div class="col-4 align-center"><p>1000 $ / 1000 $</p></div>
				</div>
			</div>
		</div>
	</div>

	<div class="baner bnr-ml-0">
		<div class="container">
			<div class="row">

			    <div class="col-5">
					
					<div class="baner_5">
						<div class="h3"><h3>Test zam wallet and <span class="s1">get 1000 ZAM</span> as a gift for premium payment</h3></div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
						<form action="#">
							<select v-model="selected">
	  							<option disabled value="">Выберите один из вариантов</option>
	  							<option>А</option>
	  							<option>Б</option>
	  							<option>В</option>
							</select>
							<span>Выбрано: {{ selected }}</span>
							<a href="#">ok</a>
						</form>
					</div>

				</div>
				<div class="col">

					<div class="baner_5 bgr"></div>

				</div>
				
			</div>
		</div>
	</div>

	<footer>
		<div class="img_a btn_a">
			<a href="#"><img src="img/telegram1.svg" alt="alt">Join us on Telegram</a>
		</div>
		<div class="container cont_footer_1">
			<div class="row">
				<div class="col display-f">
					<img src="img/telegram2.svg" alt="">
					<p>Telegram</p>
					<sup>2 512</sup>
				</div>
				<div class="col display-f">
					<img src="img/Shape.svg" alt="">
					<p>Twitter</p>
					<sup>323</sup>
				</div>
				<div class="col display-f">
					<img src="img/Group4.svg" alt="">
					<p>Instagram</p>
					<sup>214 766</sup>
				</div>
				<div class="col display-f">
					<img src="img/medium-seeklogo.com3.svg" alt="">
					<p>Medium</p>
					<sup>11 432</sup>
				</div>
				<div class="col display-f">
					<img src="img/Facebook.svg" alt="">
					<p>Facebook</p>
					<sup></sup>
				</div>
				<div class="col display-f">
					<img src="img/bitcointalk-1.png" alt="">
					<p>Bitcointak</p>
					<sup>123</sup>
				</div>
			</div>
		</div>
		<div class="container cont_footer_2">
			<div class="row">
				<div class="col-3">
					<p>Company</p>
					<ul>
						<li>About us</li>
						<li>Team</li>
						<li>Development & Technology</li>
						<li>Events</li>
					</ul>
				</div>
				<div class="col-3">
					<p>Products</p>
					<ul>
						<li>zam.wallet</li>
						<li>zam.merchant</li>
						<li>zam.chain</li>
					</ul>
				</div>
				<div class="col-3">
					<p>Media</p>
					<ul>
						<li>Blog</li>
						<li>Press Releases</li>
						<li>Media Kit</li>
					</ul>
				</div>
				<div class="col-3">
					<p>Support</p>
					<ul>
						<li>FAQ</li>
						<li>Contact</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container cont_footer_3">
			<div class="row">
				<div class="col-5">
					<div class="img_footer">
						<img src="img/Group22.svg" alt="alt">
						<img src="img/Group33.svg" alt="alt">
					</div>
				</div>
				<div class="col-7">
					<div class="a_ul_footer">
						<ul>
							<li><a href="#">Privacy policy</a> / </li>

							<li><a href="#">Terms and conditions</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

<script src="js/scripts.min.js"></script>

</body>
</html>
