<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>OptimizedHTML 4</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<style>
	@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
</style>
	<!-- Template Basic Images End -->

	<!-- Template style Start -->
	
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel = "stylesheet"  href = "css/bootsrap.vue.css" />
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="css/media.css">
	<!-- <link rel="stylesheet" href="https://unpkg.com/buefy/lib/buefy.min.css"> -->
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
	<link rel="stylesheet" href="css/vue-min.css">
	<!-- Template style End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->


</head>

<body>

	<!-- Custom HTML -->

	<!-- шапка/header -->

	<header>
		<div class="row">
			<div class="col-2 align-self-center"><p>
				<div class="logo_header">
					<img src="img/logo.svg" alt="alt">
					<p>zamzam</p>
				</div>
			</div>
			<div class="col ">
				<div class="nav_btn">
					<div class="nav_header">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="roadmar.html">Roadmap</a></li>
							<li class="d_none_li" ><a href="#">Token</a></li>
							<li class="d_none_li" ><a href="media.html">Media</a></li>
							<li><a href="team.html">Team</a></li>
							<li class="d_none_li" ><a href="#">Careers</a></li>
							<li class="d_none_li" ><a href="#">FAQ</a></li>
							<li><a href="contact.html">Contacts</a></li>
						</ul>
					</div>
					<div class="header_btn">
						<div>
							<section class="container">
								<form class="form-horizontal">
									<select class="form-control">
										<option>RUS</option>
										<option>EN</option>
										<option>한국</option>
									</select>
								</form>
							</section>
						</div>
						<a href="#" class="btn btn_login">
							Login
						</a>
						<a href="#" class="btn btn_up">
							Sing up
						</a>
						<div class="bg_menu">
							<div id="app-1">
								<nav>
									<transition name="fade" mode="out-in">

										<i class="material-icons menu" v-if="!show" @click="show = !show" key="menu">menu</i>
										<i class="material-icons clear" v-else @click="show = !show" key="clear" >clear</i>

									</transition>

									<transition name="fade">

										<ul v-if="show">
											<li v-for="item in items">{{ item }}</li>
											<li class="m_d-f-c" ><div>
												<section class="container">
													<form class="form-horizontal form-horizontal_m">
														<select class="form-control">
															<option>RUS</option>
															<option>EN</option>
															<option>한국</option>
														</select>
													</form>
												</section>
											</div>
											<div class="d-f-m-a" >
												<a href="#" class="btn btn_login btn_login_m">
													Login
												</a>
												<a href="#" class="btn btn_up btn_up_m">
													Sing up
												</a>
											</div>
										</li>
									</ul>

								</transition>
							</nav>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</header>

	<!--конец  шапка/header  end-->

	<section class="roadmar_s class-m">
		<div class="roadmar_section">
			<h3> Roadmap of <span class="s1">Zamzam</span></h3>
			<div class="container cont_m">
				<div class="row justify-content-center ">
					<div class="col-auto"><div class="div_a"><a href="#">2017</a></div></div>
					<div class="col-auto"><div class="div_a"><a href="#">2018</a></div></div>
					<div class="col-auto"><div class="div_a"><a href="#">2019</a></div></div>
					<div class="col-auto"><div class="div_a"><a href="#">2020</a></div></div>
					<div class="col-auto"><div class="div_a"><a href="#">2021</a></div></div>
				</div>
			</div>

			<div class="carousel_cont">
				<div class="row">
					<div class="col">
						<div class="carousel-container">
							<ul>
								<li class="li_bg">
									<p>Launch of work on the analytical and conceptual works 
									related to the development of Zamzam products</p>
									<div class="cont_img_car">
										<div class="row">
											<div class="col">
												<div class="img-cont"></div>
											</div>
											<div class="col">
												<div class="img-cont"></div>
											</div>
											<div class="col">
												<div class="img-cont"></div>
											</div>
											<div class="col">
												<div class="img-cont"></div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col">
						<div class="carousel-container">
							<ul>
								<li class="li_bg">
									<p>Launch of work on the analytical and conceptual works 
									related to the development of Zamzam products</p>
								</li>
								<li class="li_bg2">
									<p>The development team is founded</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col">
						<div class="carousel-container">
							<ul>
								<li class="li_bg">
									<p>Launch of work on the analytical and conceptual works 
									related to the development of Zamzam products</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="gallery" id="app">
				<div class="container">
					<div class="gallerey_h3_tab">


						<div id="app" class="container">
							<h3>Techno <span class="s1">news</span></h3>

							<section>

								<b-tabs v-model="activeTab">

									<b-tab-item label="All">

										<div class="row">
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
												<div class="gallery_blok gallery_blok_1">
													<div class="tex_top">
														<p>28
															<br> 
															<span>July</span>
														</p>
														<a href="#">News</a>
													</div>
													<div class="text_botton">
														<p>Why did we choose the Stellar blockchain?
															<br>
															<span>Bruno Salmator</span>
														</p>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
												<div class="gallery_blok gallery_blok_2">
													<div class="tex_top">
														<p>28
															<br
															><span>July</span>
														</p>
														<a href="#">News</a>
													</div>
													<div class="text_botton">
														<p>Why did we choose the Stellar blockchain? 
															<br>
															<span>Bruno Salmator</span>
														</p>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
												<div class="gallery_blok gallery_blok_3">
													<div class="tex_top">
														<p>28
															<br>
															<span>July</span>
														</p>
														<a href="#">News</a>
													</div>
													<div class="text_botton">
														<p>Why did we choose the Stellar blockchain? 
															<br>
															<span>Bruno Salmator</span>
														</p>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
												<div class="gallery_blok gallery_blok_4">
													<div class="tex_top">
														<p>28
															<br>
															<span>July</span>
														</p>
														<a href="#">News</a>
													</div>
													<div class="text_botton">
														<p>Why did we choose the Stellar blockchain? 
															<br>
															<span>Bruno Salmator</span>
														</p>
													</div>
												</div>
											</div>
											<div class="col-8 col-lg-8 col-md-12 col-sm-12 col-12">
												<div class="gallery_blok gallery_blok_5">
													<div class="tex_top">
														<p>28
															<br>
															<span>July</span>
														</p>
														<a href="#">News</a>
													</div>
													<div class="text_botton">
														<p>Why did we choose the Stellar blockchain? 
															<br>
															<span>Bruno Salmator</span>
														</p>
													</div>
												</div>
											</div>

											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
												<div class="gallery_blok gallery_blok_1">
													<div class="tex_top">
														<p>28
															<br> 
															<span>July</span>
														</p>
														<a href="#">News</a>
													</div>
													<div class="text_botton">
														<p>Why did we choose the Stellar blockchain?
															<br>
															<span>Bruno Salmator</span>
														</p>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
												<div class="gallery_blok gallery_blok_2">
													<div class="tex_top">
														<p>28
															<br
															><span>July</span>
														</p>
														<a href="#">News</a>
													</div>
													<div class="text_botton">
														<p>Why did we choose the Stellar blockchain? 
															<br>
															<span>Bruno Salmator</span>
														</p>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
												<div class="gallery_blok gallery_blok_3">
													<div class="tex_top">
														<p>28
															<br>
															<span>July</span>
														</p>
														<a href="#">News</a>
													</div>
													<div class="text_botton">
														<p>Why did we choose the Stellar blockchain? 
															<br>
															<span>Bruno Salmator</span>
														</p>
													</div>
												</div>
											</div>
											<div class="col-8 col-lg-8 col-md-12 col-sm-12 col-12">
												<div class="gallery_blok gallery_blok_5">
													<div class="tex_top">
														<p>28
															<br>
															<span>July</span>
														</p>
														<a href="#">News</a>
													</div>
													<div class="text_botton">
														<p>Why did we choose the Stellar blockchain? 
															<br>
															<span>Bruno Salmator</span>
														</p>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
												<div class="gallery_blok gallery_blok_4">
													<div class="tex_top">
														<p>28
															<br>
															<span>July</span>
														</p>
														<a href="#">News</a>
													</div>
													<div class="text_botton">
														<p>Why did we choose the Stellar blockchain? 
															<br>
															<span>Bruno Salmator</span>
														</p>
													</div>
												</div>
											</div>
										</div>

									</b-tab-item>

									<b-tab-item label="innovation">
										/////
									</b-tab-item>

									<b-tab-item label="Developmen">
										/////
									</b-tab-item>
								</b-tabs>
							</section>

						</div>

					</div>

					<div class="row justify-content-center text_a_c">
						<div class="col-11">
							<h3> Join the discussion of the open <span class="s1">roadmap</span></h3>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
							<div class="gll-b-btn-a b-btn-a"><a href="#">See on Trello</a></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>


	<!-- подвал/footer -->

	<footer>
		<div class="img_a btn_a">
			<a href="#"><img src="img/telegram1.svg" alt="alt">Join us on Telegram</a>
		</div>
		<div class="container cont_footer_1">
			<div class="row">
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
					<img src="img/telegram2.svg" alt="">
					<p>Telegram</p>
					<sup>2 512</sup>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
					<img src="img/Shape.svg" alt="">
					<p>Twitter</p>
					<sup>323</sup>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
					<img src="img/Group4.svg" alt="">
					<p>Instagram</p>
					<sup>214 766</sup>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
					<img src="img/medium-seeklogo.com3.svg" alt="">
					<p>Medium</p>
					<sup>11 432</sup>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
					<img src="img/Facebook.svg" alt="">
					<p>Facebook</p>
					<sup></sup>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
					<img src="img/bitcointalk-1.png" alt="">
					<p>Bitcointak</p>
					<sup>123</sup>
				</div>
			</div>
		</div>
		<div class="container cont_footer_2">
			<div class="row">
				<div class="col-xl-3 c0l-lg-3 col-md-3 col-sm-12">
					<p>Company</p>
					<ul>
						<li>About us</li>
						<li>Team</li>
						<li>Development & Technology</li>
						<li>Events</li>
					</ul>
				</div>
				<div class="col-xl-3 c0l-lg-3 col-md-3 col-sm-12">
					<p>Products</p>
					<ul>
						<li>zam.wallet</li>
						<li>zam.merchant</li>
						<li>zam.chain</li>
					</ul>
				</div>
				<div class="col-xl-3 c0l-lg-3 col-md-3 col-sm-12">
					<p>Media</p>
					<ul>
						<li>Blog</li>
						<li>Press Releases</li>
						<li>Media Kit</li>
					</ul>
				</div>
				<div class="col-xl-3 c0l-lg-3 col-md-3 col-sm-12">
					<p>Support</p>
					<ul>
						<li>FAQ</li>
						<li>Contact</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container cont_footer_3">
			<div class="row">
				<div class="col-5 col-lg-4 col-md-4 col-sm-12 col-12">
					<div class="img_footer">
						<img src="img/Group22.svg" alt="alt">
						<img src="img/Group33.svg" alt="alt">
					</div>
				</div>
				<div class="col">
					<div class="a_ul_footer">
						<ul>
							<li><a href="#">Privacy policy</a></li>
							<li>/</li>
							<li><a href="#">Terms and conditions</a></li>
						</ul>
						<p>© 2018. Zamzam LLC, All rights reserved</p>
					</div>
				</div>
			</div>
		</div>
	</footer>






	<!--конец  подвал/footer  end-->

	<script src="https://unpkg.com/buefy"></script>
	<script src="js/vue-tabs.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/ccommond.js"></script>



</body>
</html>