<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>OptimizedHTML 4</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<style>
	@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
</style>
<!-- Template Basic Images End -->

<!-- Template style Start -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/font.css">
<link rel="stylesheet" href="css/bulma.css">
<link rel="stylesheet" href="css/vue-min.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/media.css">
<!-- Template style End -->

<!-- Custom Browsers Color Start -->
<meta name="theme-color" content="#000">
<!-- Custom Browsers Color End -->

</head>

<body>

	<!-- Custom HTML -->

	<!-- шапка/header -->

	<header>
		<div class="row">
			<div class="col-2 align-self-center"><p>
				<div class="logo_header">
					<a href="index.html">
						<img src="img/logo.svg" alt="alt">
						<p>zamzam</p>
					</a>
				</div>
			</div>
			<div class="col ">
				<div class="nav_btn">
					<div class="nav_header">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="roadmar.html">Roadmap</a></li>
							<li class="d_none_li" ><a href="#">Token</a></li>
							<li class="d_none_li" ><a href="media.html">Media</a></li>
							<li><a href="team.html">Team</a></li>
							<li class="d_none_li" ><a href="#">Careers</a></li>
							<li class="d_none_li" ><a href="#">FAQ</a></li>
							<li><a href="contact.html">Contacts</a></li>
						</ul>
					</div>
					<div class="header_btn">
						<div>
							<section >
								<form class="form-horizontal">
									<select class="form-control">
										<option>RUS</option>
										<option>EN</option>
										<option>한국</option>
									</select>
								</form>
							</section>
						</div>
						<a href="#" class="btn btn_login">
							Login
						</a>
						<a href="#" class="btn btn_up">
							Sing up
						</a>
						<div class="bg_menu">
							<div id="app-1">
								<nav>
									<transition name="fade" mode="out-in">

										<i class="material-icons menu" v-if="!show" @click="show = !show" key="menu">menu</i>
										<i class="material-icons clear" v-else @click="show = !show" key="clear" >clear</i>

									</transition>

									<transition name="fade">

										<ul v-if="show">
											<li v-for="item in items">{{ item }}</li>
											<li class="m_d-f-c" >
												<div>
													<section>
														<form class="form-horizontal form-horizontal_m">
															<select class="form-control">
																<option>RUS</option>
																<option>EN</option>
																<option>한국</option>
															</select>
														</form>
													</section>
												</div>
												<div class="d-f-m-a" >
													<a href="#" class="btn btn_login btn_login_m">
														Login
													</a>
													<a href="#" class="btn btn_up btn_up_m">
														Sing up
													</a>
												</div>
											</li>
										</ul>

									</transition>
								</nav>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</header>

	<!--конец  шапка/header  end-->

	<div class="container">
		<section class="team class-m">
			<div class="team_section">
				<h3>Our <span class="s1">team</span></h3>
			<!-- <div class="container cont_m">
				<div class="row justify-content-center ">
					<div class="col-auto"><div class="div_a"><a href="#">All</a></div></div>
					<div class="col-auto"><div class="div_a"><a href="#">Development</a></div></div>
					<div class="col-auto"><div class="div_a"><a href="#">Business Developmen</a></div></div>
					<div class="col-auto"><div class="div_a"><a href="#">Community management</a></div></div>
					<div class="col-auto"><div class="div_a"><a href="#">Legal department</a></div></div>
					<div class="col-auto"><div class="div_a"><a href="#">International Busine</a></div></div>
					<div class="col-auto"><div class="div_a"><a href="#">Advisors Consultan</a></div></div>
				</div>
			</div> -->
			<div id="root">

				<div class="row justify-content-center ">

					<div class="col-auto button" @click="showAddModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>ZIliya Biniaminov</h4>
							<span class="s2">CEO, Co-Founder</span>
						</div>

					</div>
					<my-modal v-show="showAddModal" @close="showAddModal=false">

						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>Iliya Biniaminov</h4>
											<span class="s2">CEO, Co-Founder</span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

					</my-modal> 



					<div class="col-auto button" @click="showAbbModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>Alex Mikh</h4>
							<span class="s2">CVO, Co-Founder</span>
						</div>
					</div>
					<my-modal v-show="showAbbModal" @close="showAbbModal=false">
						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>Alex Mikh</h4>
											<span class="s2">CVO, Co-Founder</span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</my-modal> 



					<div class="col-auto button" @click="showAssModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>George Gus</h4>
							<span class="s2">CMO, Co-Founder</span>
						</div>
					</div>
					<my-modal v-show="showAssModal" @close="showAssModal=false">
						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>George Gus</h4>
											<span class="s2">CMO, Co-Founder</span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</my-modal> 



					<div class="col-auto button" @click="showAffModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>Zakaria Mekreloufi</h4>
							<span class="s2">CEO of the MENA region</span>
						</div>
					</div>
					<my-modal v-show="showAffModal" @close="showAffModal=false">
						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>Zakaria Mekreloufi</h4>
											<span class="s2">CEO of the MENA region</span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</my-modal> 



					<div class="col-auto button" @click="showAggModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>Andrew Skurlatov</h4>
							<span class="s2">CTO</span>
						</div>
					</div>
					<my-modal v-show="showAggModal" @close="showAggModal=false">
						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>Andrew Skurlatov</h4>
											<span class="s2">CTO</span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</my-modal>



					<div class="col-auto button" @click="showArrModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>Ivan Podtsebnev</h4>
							<span class="s2">Head of DevOps & Security</span>
						</div>
					</div>
					<my-modal v-show="showArrModal" @close="showArrModal=false">
						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>Ivan Podtsebnev</h4>
											<span class="s2">Head of DevOps & Security</span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</my-modal> 



					<div class="col-auto button" @click="showAwwModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>Nikita Velko</h4>
							<span class="s2">Senior frontend developer </span>
						</div>
					</div>
					<my-modal v-show="showAwwModal" @close="showAwwModal=false">
						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>Nikita Velko</h4>
											<span class="s2">Senior frontend developer </span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</my-modal> 



					<div class="col-auto button" @click="showAqqModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>Alex Ponomaryov</h4>
							<span class="s2">iOS Developer</span>
						</div>
					</div>
					<my-modal v-show="showAqqModal" @close="showAqqModal=false">
						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>Alex Ponomaryov</h4>
											<span class="s2">iOS Developer</span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</my-modal> 



					<div class="col-auto button" @click="showAzzModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>Daniel Danilkin</h4>
							<span class="s2">Senior backend developer</span>
						</div>
					</div>
					<my-modal v-show="showAzzModal" @close="showAzzModal=false">
						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>Daniel Danilkin</h4>
											<span class="s2">Senior backend developer</span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</my-modal> 



					<div class="col-auto button" @click="showAxxModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>Dzhavid Khalilov</h4>
							<span class="s2">Android developer</span>
						</div>
					</div>
					<my-modal v-show="showAxxModal" @close="showAxxModal=false">
						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>Dzhavid Khalilov</h4>
											<span class="s2">Android developer</span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</my-modal> 



					<div class="col-auto button" @click="showAvvModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>Zakaria Mekreloufi</h4>
							<span class="s2">CEO of the MENA region</span>
						</div>
					</div>
					<my-modal v-show="showAvvModal" @close="showAvvModal=false">
						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>Zakaria Mekreloufi</h4>
											<span class="s2">CEO of the MENA region</span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</my-modal> 



					<div class="col-auto button" @click="showAmmModal=true">
						<div class="cont_div">
							<div class="img_bg"></div>
							<h4>Zakaria Mekreloufi</h4>
							<span class="s2">CEO of the MENA region</span>
						</div>
					</div>
					<my-modal v-show="showAmmModal" @close="showAmmModal=false">
						<div class="pop-up">
							<div class="pop">
								<div class="row justify-content-center align-items-center">
									<div class="col-auto col">
										<div class="img_bg img_bg_pop"></div> 
									</div>
									<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col"> 
										<div class="pop_text">
											<h4>Zakaria Mekreloufi</h4>
											<span class="s2">CEO of the MENA region</span>
											<ul>
												<li>Founder of MKG Real Estate & Investment, a leading brokerage company for asset management in the Middle East and North Africa with a head office in Dubai, UAE</li>
												<li>Has a CFA level 1 certificate and works closely with the government of Dubai, attracting investments in the stock and financial markets, as well as small and medium-sized businesses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</my-modal> 


				</div>

			</div>
		</div>
	</section>
</div>


<!-- подвал/footer -->

<footer>
	<div class="img_a btn_a">
		<a href="#"><img src="img/telegram1.svg" alt="alt">Join us on Telegram</a>
	</div>
	<div class="container cont_footer_1">
		<div class="row">
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
				<img src="img/telegram2.svg" alt="">
				<p>Telegram</p>
				<sup>2 512</sup>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
				<img src="img/Shape.svg" alt="">
				<p>Twitter</p>
				<sup>323</sup>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
				<img src="img/Group4.svg" alt="">
				<p>Instagram</p>
				<sup>214 766</sup>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
				<img src="img/medium-seeklogo.com3.svg" alt="">
				<p>Medium</p>
				<sup>11 432</sup>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
				<img src="img/Facebook.svg" alt="">
				<p>Facebook</p>
				<sup></sup>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 display-f">
				<img src="img/bitcointalk-1.png" alt="">
				<p>Bitcointak</p>
				<sup>123</sup>
			</div>
		</div>
	</div>
	<div class="container cont_footer_2">
		<div class="row">
			<div class="col-xl-3 c0l-lg-3 col-md-3 col-sm-12">
				<p>Company</p>
				<ul>
					<li>About us</li>
					<li>Team</li>
					<li>Development & Technology</li>
					<li>Events</li>
				</ul>
			</div>
			<div class="col-xl-3 c0l-lg-3 col-md-3 col-sm-12">
				<p>Products</p>
				<ul>
					<li>zam.wallet</li>
					<li>zam.merchant</li>
					<li>zam.chain</li>
				</ul>
			</div>
			<div class="col-xl-3 c0l-lg-3 col-md-3 col-sm-12">
				<p>Media</p>
				<ul>
					<li>Blog</li>
					<li>Press Releases</li>
					<li>Media Kit</li>
				</ul>
			</div>
			<div class="col-xl-3 c0l-lg-3 col-md-3 col-sm-12">
				<p>Support</p>
				<ul>
					<li>FAQ</li>
					<li>Contact</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container cont_footer_3">
		<div class="row">
			<div class="col-12">
				<div class="img_footer">
					<img src="img/Group22.svg" alt="alt">
					<img src="img/Group33.svg" alt="alt">
				</div>
			</div>
			<div class="col-12">
				<div class="a_ul_footer">
					<ul>
						<li><a href="#">Privacy policy</a></li>
						<li>/</li>
						<li><a href="#">Terms and conditions</a></li>
					</ul>
					<p>© 2018. Zamzam LLC, All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
</footer>

<!--конец  подвал/footer  end-->


<script src="https://unpkg.com/buefy"></script>
<script src="js/vue-tabs.js"></script>
<script src="js/vue.js"></script>
<script src="js/ccommond.js"></script>
<script src="js/slidear.js"></script>
<script src="js/classie.js"></script>
<script src="js/main.js"></script>
<script  type="text/javascript" src="js/modal.js" ></script>

</body>
</html>